header{
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
  height:80px;
  display: relative;
  position: fixed;
  margin:auto;
  top:0;
  background-color: white;
}

body{
  background-image: url('../img/background.png');
  background-color: #E1DFDD;
  margin:0;
  font-family: 'Alegreya Sans', sans-serif;
}

footer{
  background-color: #110D0B;
  color: #039BE5;
  height: 200px;
  width: 100%;
  bottom: 0;
}

li{
  margin-left: 30px;
}
h4{
  margin-left: 10px;
}
p{
  margin-left:20px;
}

.up-foot{
  margin-bottom: 95px;
}
.footer-logo{
  display:block;
  margin: auto;
  height: 60px;
  width: 300px;
}



.cards{
  display: block;
  margin:auto;
  width:80%;
}
.flex{
  display: flex;
}
.header-logo-container{
	width: 60%;
	margin: auto;
	display: block;

}
.header-logo{
  display: block;
  margin:auto;
  padding-top: 10px;
  width: 350px;
  height: auto;
  max-height: 80px;
}




@media only screen and (max-width: 815px) and (min-width: 500px) 
{

  .up-follow-img {
    width:0%;
    display: none;

  }
  .container .article
  {
    width: 80%;
  }
  .container .article .article-img, 
  {
  	width: 100%;
  }

}
@media only screen and (max-width: 980px) and (min-width: 640px) 
{
  .articles{
  	width: 640px;

  }
}
@media only screen and (max-width: 640px) and (min-width: 0px)
{
  .articles{
	width: 320px;
  }
  .article-node{
  	width: 200px;
  	height: 200px;
  }
}
@media only screen and (max-width: 500px)
{
  .header-logo-container{
  	width: 100%;
  }
  .container .article
  {
    margin: auto;
    width: 100%;
  }
  .container .article .article-img{
  	width: 100%;
  }
  .container {
  	padding-top: 50px;
  }
  .home, .up-follow-img {
    display: none;
  }
  .header-logo{
    left: 30px;
    width: 300px;
  }

}


.container {
  padding-top: 80px;
  min-height: 800px; 
  width: 100%;
  margin:auto;
}
.article{
  margin:auto;
  width: 60%;
  background-color: white;
}
.articles
{
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: auto;
}
.article-head{
  text-align: center;
  background-color: #607D8B; 
  color: white;
  font-size: 18pt;
}
.article-body{
  display: block;
  font-size: 13pt;
  margin: auto;
  width: 95%;
  padding-bottom: 30px;
}
.article-img{
  display: block;
  margin: auto;
  width: 100%;
  height: 80%;
}
.article-node{
  background-color: white;
  margin: 10px;
  display: block;
  max-width: 300px;
  max-height: 300px;
}
.article-node-img{
  display: block;
  width: 300px;
  height: 200px;
}
.article-node-par{
  margin: auto;
  width: 300px;
  height: 100px;
  color: #22400E;
  font-size: 18pt;
}
.code{
  background: #000000;
  color: #68FF00;
  font-size: 10pt;
  margin: auto;
  width:85%;
  display: block;
  padding: 20px;
  font-family: 'Inconsolata' ;
}
.home{
	width: 40px;
	margin:auto;
	padding-top: 15px;
}
.home-img{
  height: 48px;
  width: 48px;
  display: block;
  margin: auto;
}

.remove-underline{
  text-decoration: none;
}
.card{
  display: block;
  margin:auto;
  width: 300px;
  height: 300px;
}

.col-r-2{
  width:300px;
}
.col-12{
  width:100%;
  margin:auto;
}
.col-6{
  width: 50%;
}
.left{
  position: absolute;
  left: 0px;
  margin-left: 10px;
}
.right{
  position: absolute;
  right: 0px;
  margin-right: 10px;
}
.icons{
  display: block;
  margin: auto;
  height: 40px;
  width: 20%;
}
.top-icons{
  margin: auto;
  height:40px;
  width: 20%;
  border: dashed;
}
.follow-img{
  width: 35px;
  height: 34px;
}
.up-follow-img{
  padding-top: 15px;
  width: 30px;
  height: 30px;
}


/*this css of Article generator*/ 
body{
  margin:auto;
}
.inputText{
  resize:vertical;
  width:600px;
  height: 100%;
  margin: 5px;
}
#output{
  width: 800px;
  margin: 10px;
  border-style: groove;
  padding: 10px;
}
.textarea{
  width: 40%;
  height: 100%;
}
.inputOutputContainer{
  display:flex;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
}
.inputContainer{
  margin: 5px;
  display: block;
  height: 100%;
}
.buttonsContainer{
  display:flex;
  position: center;
  margin: auto;
  border-style: groove;
}
.formatButton{
  width:20px;
  padding: 10px;
  height: 20px;
  margin: 10px;
}
.subject_intro{
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
}
