<div>
  <div class = "up-foot">
  <div class = "flex" style = "margin-left:25px;height:40px;">
    <a href = "https://www.facebook.com/Khwarizm-1102263816503841/?skip_nax_wizard=true">
      <img src="{{site.baseurl}}/img/facebook.png" class="follow-img" style="margin:2.5px;"></a>
    <a href="">
      <img src="{{site.baseurl}}/img/google+.png"  class="follow-img"style="margin:2.5px;"></a>
    <a href = "">
      <img src="{{site.baseurl}}/img/twitter.png"  class="follow-img " style="margin:2.5px;"></a>
    <a href = "https://github.com/Khwarizm">
      <img src="{{site.baseurl}}/img/github.png" class="follow-img" style="margin:2.5px;"></a>
  </div>
  </div>
  <div class = "flex">
    <img src="{{site.baseurl}}/img/khwarizm.png" class="footer-logo">
  </div>
</div>
