<div class = " head, col-12, flex">

  <div class = "top-icons, flex">
    <a href = "https://www.facebook.com/Khwarizm-1102263816503841/?skip_nax_wizard=true">
      <img src = "{{site.baseurl}}/img/f.png" class="up-follow-img" style="margin:5px;">
    </a>
    <a href="">
      <img src="{{site.baseurl}}/img/go.png"  class="up-follow-img"style="margin:5px;"></a>
    <a href = "">
      <img src="{{site.baseurl}}/img/t.png"  class="up-follow-img " style="margin:5px;"></a>
    <a href = "https://github.com/Khwarizm">
      <img src="{{site.baseurl}}/img/g.png" class="up-follow-img" style="margin:5px;"></a>
  </div>

  <div class = "header-logo-container">
    <a href = "{{site.baseurl}}/index.html">
      <img src="{{site.baseurl}}/img/khwarizm.png" class="header-logo">
    </a>
  </div>

  <div class ="home">
    <a href = "{{site.baseurl}}/index.html">
      <img  src="{{site.baseurl}}/img/home.png" class = "home-img">
    </a>
  </div>
  
</div>
